.contenedor_nav {
    display: flex;
    flex-wrap: wrap;
    width:80%;   
    height: auto; 
    align-items: center;
    justify-content: center;

}


ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white
}