.contenedor_nav {
    display: flex;
    flex-wrap: wrap;
    width:100%;   
    height: auto; 
    align-items:center;
    justify-content:space-between;

}


ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white
}

.in-cart {
    background-color: #bb61f7;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    padding: 0.25em 0.5em;
    display: inline-block;
    min-width: 20px;
    text-align: center;
    margin-left: 0.25rem;
}